/*css reset*/

@import url("../css/reset.css");



/*fonts*/

* {
    text-decoration: none;
}

/*header styles*/

header {
    background-color: #fff;
    width: 100%;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    /*overflow:hidden;*/
}

header .header_brand {
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    float: left;
    padding: 20px;
}

header .lower_case_logo {
    text-transform: lowercase;
}

header nav ul {
    /*    width: fit-content;*/
    position: absolute;
    top: 63px;
    right: 0;
    z-index: 1;
    background-color: #fff;
    text-align: center;
    display: none;
}

header nav ul li {
    border: 1px solid #111;
    background-color: #111;
    padding: 15px 20px 15px 20px;
    list-style-type: none;
    border-bottom: 1px solid #000;
}

header nav ul li a {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

header .header_projects {
    display: none;
}


/*desktop version*/

@media only screen and (min-width: 1000px) {
    main {
        padding-top: 100px;
    }

    header {
        position: fixed;
        height: 100px;
    }

    header .header_brand {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0 20px 0 40px;
        border-right: 3px solid #111;
        float: left;
    }

    header nav ul {
        position: static;
        margin: 20px 0 0 20px;
        float: left;
        width: fit-content;
        display: block;
    }

    header nav ul li {
        border: none;
        background-color: #fff;
        display: inline-block;
        float: left;
        list-style-type: none;
        padding: 0px 16px;
        border: none;
    }


    header nav ul li a {
        line-height: 60px;
        transition: 1s ease-in-out;
        font-family: 'Catamaran', sans-serif;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        display: block;
    }

    header nav ul li a:hover {
        border-bottom: 1px solid darkgrey;
    }

    header .header_projects {
        display: block;
        font-family: 'Catamaran', sans-serif;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        /*        margin-right: 40px;*/
        margin: 30px 40px 30px 0;
        padding: 0 20px;
        transition: 0.7s ease-in-out;
    }

    header .header_projects:hover {
        background-color: #111;
        color: #efefef;
    }

}



/*banner styles*/

.slider {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("../img/panel10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}


.slider h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    /*    text-shadow: 2px 2px 8px #111;*/
}

.slider h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 23px;
    font-weight: 600;
    font-style: italic;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    /*    text-shadow: 2px 2px 8px #111;*/
}

.vertical_center {
    display: table-cell;
    vertical-align: middle;
}

/*styles for menu*/

.links div {
    margin: 16px 16px 0;
    width: calc(100%-32px);
    height: 100px;
    background-color: #fff;
}

.links div h3 {
    font-family: 'Catamaran', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

/*desktop version*/

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    .slider {
        height: 450px;
        /*
        background-image: url("../img/panel8.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
*/
    }

    .slider h1 {
        display: block;
        width: 560px;
        margin: 0 auto;
        font-size: 30px;
    }

    .slider h2 {
        font-size: 60px;
    }

    .links {
        overflow: hidden;
    }

    .links div {
        margin: 20px 10px 0;
        height: 230px;
        background-color: #fff;
        float: left;
    }

    .menu_link_square {
        width: calc(25% - 20px) !important;
        transition: 0.7s ease-in-out;
    }

    .menu_link_rectangle {
        width: calc(50% - 20px) !important;
        transition: 0.7s ease-in-out;
    }

    .links div h3 {
        line-height: 230px;
    }

    /*
    #arrow {
        display: none;
    }
    */
    /*
    .section_link_hover:hover {
        background-color: #efefef;
    }
*/
}

/* styles for project.html */

.project_links {
    overflow: hidden;
    margin-bottom: 30px;
}

.project_links h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #111;
    text-transform: uppercase;
}

.project_links .project_link {
    float: left;
    width: 230px;
    height: 230px;
    margin: 20px 10px 0;
    background-image:url(../img/panel20.jpg);
    background-position:center;
    background-size:cover;
}

.project_links .project_link p {
    padding-top: 45%;
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(255,255,255, .9);
    text-align: center;
}

.contact_banner {
    width: 100%;
    height: 200px;
    background-color: #efefef;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
}

.contact_banner p {
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    align-self: center;
    padding: 10px;
}

.contact_banner a {
    text-decoration: none;
    color: #111;
}

/*style for about.html*/

.about_page h2 {
    font-size: 28px;
    font-weight: 600;
    color: #111;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
}

.about_page img {
    border-radius: 25px;
    padding: 30px 0;
    text-align: center;
    display: block;
    margin: 0 auto;

}

.about_page article h3 {
    font-family: 'Catamaran', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    padding-bottom: 20px;
}


.about_page article p {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #111;
    margin-bottom: 200px;
    column-count: 3;
    column-gap: 90px;
}







/*footer*/

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
    position: relative;
    font-family: 'Catamaran', sans-serif;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style-type: none;
}

footer ul li a {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
}

.footer_projects_links {
    display: none;
}

.footer_social_links {
    width: 40px;
    float: right;
}

.footer_social_links img {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.footer_center {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    text-align: center;
    font-weight: 200;
    color: #fff;
}

/*desktop version*/

@media only screen and (min-width: 1000px) {
    footer {
        position: relative;
    }

    .footer_projects_links {
        display: block;
    }

    footer ul {
        padding-right: 30px;
    }

    footer ul:first-child {
        border-right: 1px solid #fff;
    }


    footer ul li p {
        font-family: 'Catamaran', sans-serif;
        font-size: 18px;
        color: #fff;
        line-height: 40px;
        text-transform: uppercase;
    }

}


/*hamburger menu only mobile version*/

.hamburger_box {
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger {
    width: 32px;
    height: 10px;
    border-top: 5px solid #111;
    background: transparent;
    position: relative;
    transition: transform 0.3s linear;
}

.hamburger::before,
.hamburger::after {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 5px solid #111;
    transform: translateY(10px);

}


/*
.hamburger::after {
    transform: translateY(25px);
    transition: transform 0.3s linear;
}



.hamburger:focus {
    transform: rotate(45deg) translateY(5px);
    border: none;
}

.hamburger:focus:after {
    transform: rotate(-90deg) translateX(-10px);
}
*/

@media only screen and (min-width: 1000px) {
    .hamburger-box {
        display: none;
    }
    .hamburger {
        display: none;
    }
}
